body{
    margin: 0px;
    font-size: 20px; font-size: 20px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(176,124,126);
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}
main{
    margin: 10px;
    justify-content: center;
    text-align: center;
}
.container{
    margin: auto; padding: 10px;
    width: 75%;
}
.messages{
    text-align: left;
}
.name{
    font-weight: bold;
}