<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeHelp Assignment: Week-6</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <div class="welcome">歡迎光臨，這是會員頁</div>
    </header>
    <main>
        <div class="container">
            <div>{{ name }}，歡迎登入系統</div>
            <div><a href="/signout">登出系統</a></div>
        </div>
        <hr />
        <div class="container">
        <div>快來留言吧</div>
            <form action="/message" method="POST">
                <div>內容 <input type="text" name="content" />
                <div><input type="submit"></div>
            </form>
        </div>
        <div class="container">
            <div class="messages">
                <!-- To show messages -->
                {% for content in messages %}
                <div><span class="name">{{ content[2] }}:</span> {{ content[1] }}</div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>